@font-face {
    font-family: 'RobotoMono';
    src: url('../Assets/RobotoMono-VariableFont_wght.ttf') format('truetype');
  }

  @font-face {
    font-family: 'RobotoRegular';
    src: url('../Assets/Roboto-Regular.ttf') format('truetype');
  }

  
body{
font-family: "RobotoRegular" , Sans-serif;
background-color: #23272d;
}
 
.logo {
    height: 10%;
    width: 10%;
}

.nav-link{/*element*/
    color:white;
    cursor: pointer;
 }
 .nav-link h5:hover{
  transition: 0.4s;
  color:#34ffa9 ;
 }
 
.home{ 
    color:white
} 
.home h1{
    font-family: "RobotoMono" , Sans-serif;
    font-size: 72px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.15em;
    letter-spacing: -1.5px;
}

.home h3{ 
font-size: 16px;
text-align: start;
color: #FFFFFF;
font-family: "RobotoRegular", Sans-serif;
font-size: 24px;
font-weight: normal;
font-style: normal;
line-height: 1.58em;

}

.home #FirstButton{  
    font-size:large;
    font-weight: bold;
    background-color: #34ffa9;
    color: black;
    border-radius: 0px;
    width: 220px;
    height: 72px;
}
#FirstButton:hover{
  background-color: white;
}

.home #aboutmeButton{
  margin-top: 35px;
  font-size:large;
  font-weight: bold;
  background-color: white;
  color: black;
  border-radius: 0px;
  width: 180px;
  height: 45px;
  transition: background-color 0.3s
}
#aboutmeButton:hover{
  background-color:#34ffa9;
}

.home #recentButton{
  margin-top: 35px;
  font-size:25px;
  font-weight: bold;
  background-color: #34ffa9;
  color: black;
  border-radius: 0px;
  width: 220px;
  height: 65px;
  transition: background-color 0.3s
}

#recentButton:hover{
  background-color:white;
}

.slider { 
}
 .home #slider_container {
  width: 180px;
  height: 600px;
  overflow-y: scroll; 
  transform: rotate(-90deg);
}

.home #silder_contentdiv {
  width: 140px;
  height: 140px;
  margin: 10px;

  background-color: #a8a8df;
  
  transform: rotate(90deg);
}


.home #SMLinks{ 
  font-size: 20px;
  color:#66686c

}
.home #home-linklist{
  margin-top: 100px;
  
}


.pp-images{
    height: 100%;
    width: 100%;

}

#aboutme{
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
     
}   
 .left-col{
     flex:4;
 }
 .right-col{
    flex: 5;
 }
#aboutme .aboutmeContent{
  font-size:medium;
}

#aboutme #content1{
    margin-right: 150px; 
  }
#aboutme #content2{
    margin-right: 25px; 
  }

#PlaceOfWork{
  display: flex;
  margin-bottom: 40px;
}

.pof_item{
  margin-bottom: 20px;
}
.pof_item_line1{ 
  display: flex;
  justify-content: space-between;
  
}

.pof_item_line2{
display: block ;
}

.home #sample_item{
  width: 100%;
  display: flex;
  overflow-x: auto;
  scrollbar-color: transparent transparent;
  user-select: none;
}
#sample_item::-webkit-scrollbar{
  height: 1px ;
  background-color:transparent ;
}

.about{
  color:white
}
.about #abouttitle{
margin-top: 50px;
}
.about #aboutcontent{
  font-size: 20px;
  margin-top: 50px;
  width: 50%;
}
.about .aboutlinks .linkitem{
  font-size: 25px;
  text-decoration: none;
  color:#34ffa9;
  cursor: pointer; 

}
.about .aboutlinks .linkitem:hover{
   margin-left: 10px; 
   transition-property: all;
   transition-duration: 1s;
}

.about .col-7 h4{
font-size: 20px;
color:#66686c;
}
.about .col-7 h5{
  font-size: 16px;
  display: inline;

  }

.about #email:hover{
  transition:color 0.3s;
  color: #34ffa9;
  cursor: pointer;

}

.about #phone:hover{
  transition:color 0.3s;
  color: #34ffa9;
  cursor: pointer;

}

.contacts{
  color: white;
}
.contacts .titleContact{
  margin-top: 30px;
}
.contacts .titleContact p{
  font-size: 75px;
}
.contacts form{
  width: 85%;
}
.contacts form Input{
 background-color: transparent;
 border: none;
 border-bottom: 2px solid #66686c;
 ;
}
.contacts form input {
  
  border: none;
  margin-top: 80px;
  height: 60px;
  border-bottom: 2px solid #66686c;
  ;
 }
 .contacts form textarea{
  margin-top: 80px;
  margin-bottom: 40px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #66686c;

  ;
 }
 .contacts #contactButton{
  margin-bottom: 40px;
  background-color:#34ffa9;
  width: 160px;
  height: 50px;
 }
 .contacts #contactButton:hover{
  background-color: white;
  transition: all;
  transition-duration: 0.3s;
}
 .contacts #explanation{
  font-size: 35px;
  color: #66686c;
}
.Projects{
  height: 4700px;
  color:white;
}
.Projects #projectsTittle{
  font-size: 80px;
}
.Projects .projectsGrid{
  background-color:transparent;
  display:grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 150px;
  row-gap:160px;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 50px;
}

.Projects .projectsGrid a{
  color: white;
  font-size: 30px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.subTitleDiv{
    margin-top: 70px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
  
  }
  .projectImg{
    height: 300px;
    display: block;
    margin:auto
  }
 

.line{
    margin-top: 20px;
    background-color: #34ffa9;
    height: 5px;
    border-radius: 1px;
    width: 725px;
   
 }
 .footer_img{
     left: 0;
     position: absolute;
     width: 100%;
     color:black;
     background-image: url("/public/images/footer.png");
     background-size: cover;
     background-position: top;
     height: 500px; 
 }

.footer_content{
 display: flex ;
 align-items: center;
 width: 100%;
 height: 100%;
 margin: 0;

}
.footer_links{
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.footer_content_div{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 98%;
}
 .footer_items{
  display: inline-block;
 }

