@font-face {
    font-family: 'RobotoMono';
    src: url('Assets/RobotoMono-VariableFont_wght.ttf') format('truetype');
  }

  @font-face {
    font-family: 'RobotoRegular';
    src: url('Assets/Roboto-Regular.ttf') format('truetype');
  }

  .custom-font{
    font-family: "RobotoRegular" , Sans-serif;
  }
  .cl2{
    color:#66686c
  }
  .project-details{
    background-color: #66686c;
  }

body{
background-color: #23272d;
}
.navibar{
    background-color: #23272d;
}
 
.logo {
    height: 10%;
    width: 10%;
}

.nav-link{/*element*/
    color:white;
    font-family: "RobotoRegular" , Sans-serif;
}
.routes{
    background-color: #23272d;
}
.footer{
    background-color: #23272d;
}
.home{
    background-color: red;
    height: 750px;
    color:white
}
.home div{
    background-color: #23272d;
}

.home h1{
    font-family: "RobotoMono" , Sans-serif;
    font-size: 72px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.15em;
    letter-spacing: -1.5px;
}

.home h3{ 
font-size: 16px;
text-align: start;
color: #FFFFFF;
font-family: "RobotoRegular", Sans-serif;
font-size: 24px;
font-weight: normal;
font-style: normal;
line-height: 1.58em;

}

.home button{  
    font-size:large;
    font-weight: bold;
    background-color: #34ffa9;
    color: black;
    border-radius: 0px;
    width: 220px;
    height: 72px;

}
.link-list{
    color:#66686c
}
 

.pp-images{
    height: 100%;
    width: 100%;

}

#home-col-top{
    height: 80%;

}

#home-col-bottom{
    height: 20%;

}

.footer{

    color:white;
    background-image: url("/public/images/footer.png");
    background-size: cover;
    background-position: center;
    
}